DATABASE_URL="postgresql://postgres@127.0.0.1:5433/legalqa?schema=public"
GROQ_API_KEY=""
NEXTAUTH_SECRET="some-random-secret"
NEXTAUTH_URL="http://localhost:3000"
UPLOAD_PATH="d:/Nidhi/LegalQA/uploads"
JWT_SECRET="some-jwt-secret"
LLAMA_CLOUD_API_KEY=""
